.base-grid{
    display: grid;
    grid-template-rows: calc(92% - 5px) calc(8% - 5px);
    gap: 10px;
}
.sidebar{
    display: grid;
    grid-template-rows: calc(12% - 5px) calc(88% - 5px);
    gap: 10px;
}
.content-grid{
    display: grid;
    grid-template-columns: calc(25% - 5px) calc(75% - 5px);
    gap: 10px;
}