.base-grid{
    display: grid;
    grid-template-rows: calc(90% - 5px) calc(10% - 5px);
    gap: 10px;
}
.sidebar{
    display: grid;
    grid-template-rows: calc(20% - 5px) calc(80% - 5px);
    gap: 10px;
}
.content-grid{
    display: grid;
    grid-template-columns: calc(25% - 5px) calc(75% - 5px);
    gap: 10px;
}