/*----- Padding ------*/
.p5{
    padding: 5px;
}
.p10{
    padding: 10px;
}
.p-lr-10{
    padding-left: 10px;
    padding-right: 10px;
}
.p-t-10{
    padding-top: 10px;
}
/*----- padding ------*/




/*----- Margin ------*/
.m5{
    margin: 5px;
}
/*----- Margin ------*/



/*----- Height & Width ------*/
.full-ht{
    height: 100%;
}
.full-wid{
    width: 100%;
}
/*----- Height & Width ------*/