/*----- Padding ------*/
.p5{
    padding: 5px;
}
/*----- padding ------*/




/*----- Margin ------*/
.m5{
    margin: 5px;
}
/*----- Margin ------*/



/*----- Height & Width ------*/
.full-ht{
    height: 100%;
}
.full-wid{
    width: 100%;
}
/*----- Height & Width ------*/