body{
    cursor: default;
}
.login-btn{
    background-color: $background-highlight;
    color: $text-base;
    font-weight: 600;
    padding: 10px 20px;
    max-height: 100%;
    overflow: visible;
    border-radius: 999px;
}

.user-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    background: cadetblue;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    transition: transform .5s ease;
    img{
        transform: scale(1.5);
    }
}
.user-profile:hover{
    transform: scale(1.1);
}
.icon-container{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    transition: transform .5s ease;
    img{
        transform: scale(1.5);
    }
}
.icon-container:hover{
    background-color: $hover-background;
}
